Данное домашнее задание посвящено схеме базе данных, связанной с футбольным командами. Схема расположена в hw_diagram.jpg
## Описание таблиц 

### Positions 
Позиции игроков
id - уникальный идентификатор позиции 
Name - Название таблицы 

### Coaches 
Таблица тренеров 
id - уникальный идентификатор тренера
Name - имя тренера 

## Teams 
Таблица команд 
id - уникальный идентификатор  команды 
Name - имя команды 
Location - расположение команды 
Coach_id - идентификатор тренера 

### Players 
Таблица игроков 
Id - уникальный идентификатор игрока 
Name - имя игрока 
Age - возраст игрока 
Position_id - идентификатор позиции 
Team_id - идентификатор команды 
Start_date - дата начала игры в команде 

### PlayersArchive 
Архив по игрокам (информация о том, в какой команде игрок играл ранее) 
player_id - идентификатор игрока 
team_id - идентификатор команды 
start_date - дата начала игры 
end_date - дата окончания игры

In [2]:
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

# Задание 1
Реализовать перенакатываемые sql-скрипты по схеме hw_diagram, приложенного ниже.

In [18]:
%%sql
Pragma foreign_key=on;
DROP TABLE if exists coaches;
CREATE TABLE coaches (ID integer(0,0) NOT NULL Primary key, 
                        name varchar(0,0)); 

DROP TABLE if exists position;
CREATE TABLE position (ID integer(0,0) NOT NULL Primary key,
                    name varchar(0,0));
                    
                   
DROP TABLE if exists teams;
CREATE TABLE teams ( ID integer(0,0) NOT NULL Primary key,
                       name varchar(0,0), 
                       location inteder(0,0),
                   coach_id integer(0,0),
                   FOREIGN KEY (coach_id) REFERENCES coaches(ID));

DROP TABLE if exists  players;
CREATE TABLE players ( ID integer(0,0) NOT NULL Primary key,
                       name varchar(0,0), 
                       age inteder(0,0),
                   position_id integer(0,0),
                   team_id integer(0,0),
                   start_date date,
                   FOREIGN KEY (position_id) REFERENCES position(ID),
                   FOREIGN KEY ( team_id) REFERENCES teams(ID));

DROP TABLE if exists PlayersArchive;
CREATE TABLE PlayersArchive (player_id integer(0,0) NOT NULL, 
                            team_id integer(0,0) NOT NULL,
                            start_date date,
                             end_date date,
                            primary key (player_id,team_id)
                            FOREIGN KEY (player_id) REFERENCES players(ID)
                            FOREIGN KEY (team_id) REFERENCES teams(ID));

Done.
(sqlite3.OperationalError) database is locked [SQL: 'DROP TABLE if exists coaches;']

# Задание 2
Написать sql-скрипт, осуществляюший добавление всех возможных позиций игроков. (В данной задаче можно ограничится четырьмя - вратарь, защитник, полузащитник, нападающий)

In [4]:
%%sql
insert into coaches (ID, name) values(1, 'Петров');
insert into coaches (ID, name) values(2, 'Иванов');
insert into position(ID, name) values(1, 'Вратарь');
insert into position(ID, name) values(2, 'Защитник');
insert into position(ID, name) values(3, 'Полузащитник');
insert into position(ID, name) values(4, 'Нападающий');
insert into teams(ID, name, location, coach_id) values(1, 'Спартак', 'A', 1);
insert into teams(ID, name, location, coach_id) values(2, 'Зенит', 'B', 2);
insert into players (ID, name, age, position_id, team_id,  start_date)  values(1, 'Иван', 26, 1, 1, "2001-01-01");
insert into players (ID, name, age, position_id, team_id,  start_date)  values(2, 'Семен', 26, 3, 2, "2002-02-02");
insert into PlayersArchive (player_id, team_id, start_date, end_date ) values(1, 1, '2002-12-31', '2003-01-01');
insert into PlayersArchive (player_id, team_id, start_date, end_date ) values(2, 2, '2002-11-31', '2003-01-10');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Задание 3
Написать функцию, осуществляющую добавление тренера. На вход функции подается имя тренера. При невозможности вставки функция должна обработать данное исключение и вывести пользователю информацию о проблеме

После написания функции необходимо добавить несколько тренеров для таблицы.

In [5]:
import sqlite3
db=sqlite3.connect('chinook.db')
def insert_coaches(name):
    cur = db.cursor()
    cur.execute( '''
    SELECT COALESCE(MAX(ID)+1, 1) FROM coaches''')
    ID = cur.fetchone()[0]
    cur.execute('''
        INSERT INTO coaches(ID, name) VALUES(?,?)''', (ID,name))
    db.commit()

In [6]:
insert_coaches('Романов')

In [7]:
insert_coaches('Лошкин')

# Задание 4

Написать функцию, осуществляющую добавление команды. На вход функция принимает (имя команды, местоположение, имя тренера).
На выходе должна быть добавлена команда.

После написания функции необходимо добавить несколько команд

In [8]:
import sqlite3
db=sqlite3.connect('chinook.db')
def insert_teams(name, loc, name_t):
    cur = db.cursor()
    cur.execute( '''
    SELECT COALESCE(MAX(ID)+1, 1) FROM coaches''')
    ID_1 = cur.fetchone()[0]
    cur.execute('''
        INSERT INTO coaches(ID, name) VALUES(?,?)''', (ID_1,name_t))
    cur.execute( '''
    SELECT COALESCE(MAX(ID)+1, 1) FROM teams''')
    ID = cur.fetchone()[0]
    cur.execute(''' 
        INSERT INTO teams(ID, name, location, coach_id) VALUES(?,?,?,?)''', (ID, name, loc, ID_1))
       
    db.commit()

In [9]:
insert_teams('ЦСК', 'Г', 'Калинин')

In [10]:
insert_teams('ЦСК', 'Г', 'Зубов')

# Задание 5

Написать функцию, осуществляющую обновление информации о команде. У функции на входе должен быть один обязательный параметр - название команды и два необязательных параметра - имя тренера и местоположение. При этом хотя бы один из необязательных параметров должен быть заполнен. Функция должна обновлять значение переданных необязательных параметров.

После написания функции вызовите данную функцию несколько раз

In [11]:
import sqlite3
db=sqlite3.connect('chinook.db')
def update_teams(name, name_t, loc):
    cur = db.cursor()
    cur.execute( '''
    SELECT COALESCE(MAX(ID)+1, 1) FROM coaches''')
    ID_1 = cur.fetchone()[0]
    cur.execute('''
        INSERT INTO coaches(ID, name) VALUES(?,?)''', (ID_1,name_t))
    cur.execute( '''
    SELECT ID  FROM teams where name=?'''), (name,)
    ID = cur.fetchone()[0]
    cur.execute(''' 
        Update from teams set coach_id=?, location = ? where Id=?  ''', (ID_1, loc, ID))
       
    db.commit()

In [ ]:
update_teams('Спартак', 'Зубов', 'Л')

In [ ]:
update_teams('ЦСК', 'Резцов', 'L')

# Задание 6

Написать функцию, осуществляющую добавление нового футболиста в таблицу игроков. На входе (имя, возраст, название позиции, название команды, дата перехода в команду(необязательный параметр)). Если дата перехода не указана, то нужно использовать текущую дату. Предусмотреть различные ошибки (такие как неверное имя позиции, неверное название команды, возраст < 10 и > 50 и т.п.)

После написания функции необходимо добавить несколько игроков.

# Задание 7
Написать функцию для перевода игрока в другую команду. Данная функция должна осуществить архивирование текущей записи в таблице игроков в таблицу players_archive с заполнение end_date - датой начала игры за новую команду - 1 день. А также осуществлять изменение поля в таблице Players. При возникновении ошибки должен осуществляться полный откат транзакции.